
@{
    ViewBag.Title = "技术";
    Layout = "~/Areas/Admin/Views/Shared/_HomeLayout.cshtml";
}

<div class="col-lg-2 col-md-1 "></div>
<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 ">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:20%">标题</th>
                        <th style="width:50%">内容</th>
                        <th>作者</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>
                            <a href="#" class="glyphicon glyphicon-eye-open" title="查看" style="margin:0px 5px"></a>
                            <a href="#" class="glyphicon glyphicon-pencil"  title="修改" style="margin:0px 5px"></a>
                            <a href="#" class="glyphicon glyphicon-remove"  title="删除" style="margin:0px 5px"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>
                            <a href="#" class="glyphicon glyphicon-eye-open" title="查看" style="margin:0px 5px"></a>
                            <a href="#" class="glyphicon glyphicon-pencil" title="修改" style="margin:0px 5px"></a>
                            <a href="#" class="glyphicon glyphicon-remove" title="删除" style="margin:0px 5px"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td>
                            <a href="#" class="glyphicon glyphicon-eye-open" title="查看" style="margin:0px 5px"></a>
                            <a href="#" class="glyphicon glyphicon-pencil" title="修改" style="margin:0px 5px"></a>
                            <a href="#" class="glyphicon glyphicon-remove" title="删除" style="margin:0px 5px"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
